# Env and Secrets
.env
deploy/deploy.env

# Data paths
/models/data/
/models/data_backup_*
/models/artifacts/
/models/training/data/
/models/training/logs/
data/backups/db/
*.sql.gz
data/*.csv
data/*.json
data/*.jsonl
logs/*
enrich.out
enrich.err
backfill.out
ops/enrichment/test_*.csv
ops/enrichment/test_*.txt
ops/enrichment/*.html
ops/models/migration_report_*
**/results/**
**/logs/**
**/performance_baselines/**
tests/integration/models/performance_baselines
models/data/.reload_signal
tests/integration/models/profiles/*
tests/integration/models/prod_results/*
tests/load/model_servers/profiles/*
tests/integration/models/test_data_config.json


# Model artifacts
*.pickle
*.joblib
*.pt
*.pth

# Dev Tools
tree.py
test.py
/prompts
.vscode/
tree.txt
shallow_tree.txt
code_instructions_prompt.txt
.envrc
pyproject.toml
system/

#Junk
__pycache__/
*.py[cod]

