# Env and Secrets
.env

# Data paths
/models/data/
/models/training/data/
/models/training/logs/
data/backups/db/
*.sql.gz
data/*.csv
data/*.json
data/*.jsonl
logs/*
enrich.out
enrich.err
backfill.out
ops/enrichment/test_*.csv
ops/enrichment/test_*.txt
**/resluts/**

# Model artifacts
*.pickle
*.joblib
*.pt
*.pth

# Dev Tools
tree.py
test.py
/prompts
.vscode/
tree.txt

#Junk
__pycache__/
*.py[cod]

