# Env and Secrets
.env

# Data paths
/models/data/
/models/training/data/
/models/training/logs/

# Model artifacts
*.pickle
*.joblib
*.pt
*.pth

# Dev Tools
tree.py
test.py

#Junk
__pycache__/
*.py[cod]
